*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

body{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.calculator{
    background-color: #515054;
    border-color: transparent;
    border-radius: 10px;
    width: calc( 100vw - 100px );
    max-width: 400px;
    height: calc(100vh - 20px);
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr); 
}

.button{
    border: solid #515054 0.5px;
    font-size: 2em;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .05s ease;
}

#display{
    grid-column: 1 / 5;
    grid-row: 1/3;
    padding: 0 20px;
    font-size: 4em;
    white-space: nowrap;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#clear{
    grid-column:1 / 3;
    grid-row:3;
    background-color: #626165;
}

#Backspace{
    grid-column:3;
    grid-row:3;
    background-color: #626165;
}

#Slash{
    grid-column:4;
    grid-row:3;
    background-color: #ff9f0b;
}

#Digit7{
    grid-column:1;
    grid-row:4;
    background-color: #7c7b7e;
}

#Digit8{
    grid-column:2;
    grid-row:4;
    background-color: #7c7b7e;
}

#Digit9{
    grid-column:3;
    grid-row:4;
    background-color: #7c7b7e;
}

#Multiply{
    grid-column:4;
    grid-row:4;
    background-color: #ff9f0b;
}

#Digit4{
    grid-column:1;
    grid-row:5;
    background-color: #7c7b7e;
}

#Digit5{
    grid-column:2;
    grid-row:5;
    background-color: #7c7b7e;
}

#Digit6{
    grid-column:3;
    grid-row:5;
    background-color: #7c7b7e;
}

#Minus{
    grid-column:4;
    grid-row:5;
    background-color: #ff9f0b;
}

#Digit1{
    grid-column:1;
    grid-row:6;
    background-color: #7c7b7e;
}

#Digit2{
    grid-column:2;
    grid-row:6;
    background-color: #7c7b7e;
}

#Digit3{
    grid-column:3;
    grid-row:6;
    background-color: #7c7b7e;
}

#Add{
    grid-column:4;
    grid-row:6;
    background-color: #ff9f0b;
}

#Digit0{
    grid-column:1/3;
    grid-row:7;
    background-color: #7c7b7e;
    border-bottom-left-radius: 10px;
}

#Equal{
    grid-column:4;
    grid-row:7;
    background-color: #ff9f0b;
    border-bottom-right-radius: 10px;
}

#Period{
    grid-column:3;
    grid-row:7;
    background-color: #7c7b7e;
}